img {
	height: 100px;
	width: 100px
}


.TrailforksWidgetMap {
  float: center;
}

.container{
background-color: #cecaca;	
}

.TrailforksWidgetMap {
	float: center;
	height: 810px;
	width: 800px;
}

.col-sm-1 {
	float: center;
	max-width: 100%
}