img {
	height: 100px;
	width: 100px
}


.TrailforksWidgetMap {
  float: center;
}

.container{
	background-color: #cecaca;	
	margin: 30px;
}

.TrailforksWidgetMap {
	float: center;
	height: 810px;
	width: 800px;
}

.col-xl-12 {
	float: center;
	max-width: 100%
}


.jumbotron.text-center {
	background-color: #bad9e3;
	margin-bottom: 0px;
	
}

h2,h5 {
	font-family: 'Work Sans', sans-serif;
}

h1 {
	font-family: 'Nunito', sans-serif;
}

p {
	font-family: 'Hind', sans-serif;
}

body {
	background-color: #4f4f4f;
}


.collapse.navbar-collapse {
	display: flex;
	justify-content: center;	
}
